<% @post.each do |post| %>
<div>
  <%= link_to public_post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
   <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>
  <p>お酒名：<%= post.name %></p>
  <p>レビュー：<%= post.review %></p>
  <p>ユーザーネーム：<%= post.user.user_name %></p>
  <p><%= link_to "#{post.comments.count} コメント", public_post_path(post.id) %></p>
</div>
<% end %>