<% @post.each do |post| %>
  <div class="user-info">
    <span class="username"><%= post.user.user_name %></span>
    <%= image_tag post.user.get_profile_image(100, 100),class: "user-image"  %>
  </div>
  <div class="post">
      <div class="post-content">
        <div class="image-wrapper">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image(200, 200) %>
          <% end %>
        </div>
        <div class="spacer"></div>
        <div class="post-details">
          <span class="post-name"><%= post.name %></span>
          <span class="genres">
            <%= Genre.where(id: post.post_genres.pluck(:genre_id)).pluck(:name).join(',') %>
          </span>
          <p class="review">レビュー：<%= post.review %></p>
        </div>
      </div>
  </div>
    <div class="actions">
      <% if user_signed_in? %>
        <% if post.favorited_by?(current_user) %>
          <%= link_to post_favorites_path(post), method: :delete, class: "favorite" do %>
            ♥ <%= post.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(post), method: :post, class: "favorite" do %>
            ♡ <%= post.favorites.count %> いいね
          <% end %>
        <% end %>
      <% else %>
        ♡ <%= post.favorites.count %> いいね
      <% end %>
      <%= link_to "#{post.comments.count} コメント", post_path(post.id), class: "comments-link" %>
    </div>
<% end %>

<%= paginate @post %>

<style>
.actions{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 2px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; 
}

.comments-link {
  color: black; /* 好きな色に変更してください */
}
.favorite {
  color: black; /* 好きな色に変更してください */
}


.post {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #F4EEE0;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.post .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post .user-info .username {
  margin-right: 10px;
  font-weight: bold;
}

.user-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  margin-top: 20px;
  text-align: left;
}
.post .post-content {
  display: flex;
  flex-grow: 1;
}

.post .post-content .image-wrapper {
  margin-right: 20px;
}

.post .post-content .post-details {
  width: 100%;
}

.post .post-content .post-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post .post-content .genres {
  display: block;
  margin-bottom: 5px;
}

.post .post-content .review {
  margin-bottom: 10px;
  word-wrap: break-word;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .post-content .actions {
  display: flex;
  align-items: center;
}

.post .post-content .actions .favorite {
  margin-right: 10px;
}

.post .post-content .actions .comments {
  margin-left: auto;
}

.post .post-content .actions .comments a {
  text-decoration: none;
  color: #333;
}

.post .post-content .actions .comments a:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page {
  margin: 0 5px;
}

.pagination .current {
  font-weight: bold;
}

.pagination a {
  text-decoration: none;
  color: #333;
}

.pagination a:hover {
  text-decoration: underline;
}
</style>