<div class="post-details">
  <h2>投稿詳細</h2>
  <div class="post-image">
    <%= image_tag @post.get_image(300, 400), class: "post-image-width" %>
  </div>
  <div class="post-content">
    <p>お酒名：<%= @post.name %></p>
    <p>ジャンル名：<%= Genre.where(id: @post.post_genres.pluck(:genre_id)).pluck(:name).join(',') %></p>
    <div class="review">
      <p>レビュー文：</p>
      <div class="review-text">
        <%= @post.review %>
      </div>
    </div>
  </div>
  <div class="user-info">
    <div class="user-image-name">
      <%= image_tag @post.user.get_profile_image(100, 100) %><!--ユーザ画像-->
      <%= @post.user.user_name %></p>　<!--ユーザーネーム-->
    </div>
      <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <% if @post.user == current_user %>
        <%= link_to "削除する", post_path(@post), method: :delete, class: "btn btn-outline-secondary", data: { confirm: "本当に削除しますか？" } %>
        <%= link_to "編集する", edit_post_path(@post), class: "btn btn-outline-secondary" %>
      <% end %>
      <% if admin_signed_in? %>
        <%= link_to "管理者として投稿を削除する", admin_post_path(@post), method: :delete, class: "btn btn-outline-secondary", data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  </div>
</div>

    <div class="likes">
      <% if user_signed_in? && @post.favorited_by?(current_user) %>
        <%= link_to post_favorites_path(@post), method: :delete, class: "btn btn-like" do %>
          ♥<%= @post.favorites.count %> いいね
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to post_favorites_path(@post), method: :post, class: "btn btn-like" do %>
          ♡<%= @post.favorites.count %> いいね
        <% end %>
      <% else %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </div>
  </div>
</div>

<style>
.post-content {
  margin-top: 20px; /* レビュー文とユーザー画像の間に余白を追加 */
}
.review {
  border: 1px solid #ccc;
  padding: 10px;
}

.review-text {
  margin: 0;
}

.user-info {
  margin-top: 20px; /* ユーザー画像の上に余白を追加 */
  flex-grow: 1;
  text-align: left;
　padding-top: 20px;
　padding-bottom: 20px;
  padding-left: 20px; /* 左側の余白を追加 */
}

.user-image-name {
  margin-bottom: 10px; /* 下側の余白を追加 */
}

.review-text {
  padding: 10px; /* 余白を追加 */
}

</style>
