<div class="post-details">
  <h2>投稿詳細</h2>
  <div class="post-image">
    <%= image_tag @post.get_image(300, 400), class: "post-image-width" %>
  </div>
  <div class="post-content">
    <p>お酒名：<%= @post.name %></p>
    <p>ジャンル名：<%= @post.genres.pluck(:name).join(',') %></p>
    <div class="review">
      <p>レビュー文：</p>
      <div class="review-text">
        <%= @post.review %>
      </div>
    </div>
  </div>
  <div class="user-info">
    <div class="user-image-name">
      <%= image_tag @post.user.get_profile_image(100, 100) %>
      <%= @post.user.user_name %>
    </div>
    <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
    <% if @post.user == current_user %>
      <%= link_to "投稿を削除する", post_path(@post), method: :delete, class: "btn btn-outline-secondary", data: { confirm: "本当に削除しますか？" } %>
      <%= link_to "投稿を編集する", edit_post_path(@post), class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>

<div class="comments-section">
  <h3>コメント</h3>
  <div class="comments-container">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <div class="comment-header">
          <%= image_tag comment.user.get_profile_image(100, 100) %>
          <div class="comment-info">
            <p><%= comment.user.user_name %></p>
            <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
        <p class="comment-content"><%= comment.comment %></p>
        <% if comment.user == current_user %>
          <div class="comment-actions">
            <%= link_to "削除する", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-outline-secondary" %>
            <%= link_to "編集する", edit_post_comment_path(@post, comment), class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
      
  <div class="comment-form">
      <% if current_user.email != 'guest@example.com' %>
        <%= form_with model: [@post, @comment], url: post_comments_path(@post) do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する", class: "btn btn-outline-secondary" %>
        <% end %>
      <% end %>
  </div>
</div>

  <div id="favorite_buttons_<%= @post.id %>">
    <%= render "public/shared/favorites", post: @post %>
  </div>


<style>
.post-details {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F4EEE0;
  border-radius: 10px;
}

.post-details h2 {
  text-align: center;
  margin-bottom: 20px;
}

.post-image {
  text-align: center;
  margin-bottom: 20px;
}

.post-content {
  margin-top: 20px;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
}

.review-text {
  margin: 0;
  padding: 10px;
}

.user-info {
  margin-top: 20px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.user-image-name {
  margin-bottom: 10px;
}

.comments-section {
  margin-top: 40px;
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 20px;
}

.comments-section h3 {
  text-align: center;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
}

.comment-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-info p {
  margin: 0;
}

.comment-content {
  margin-top: 10px;
}

.comment-actions {
  margin-top: 10px;
}

.comment-actions .btn {
  margin-right: 10px;
}

.comment-form {
  margin-top: 20px;
}

.btn.btn-outline-secondary {
  background-color: transparent;
  color: #4CAF50;
  border: 1px solid #4CAF50;
}

.btn.btn-outline-secondary:hover {
  background-color: #4CAF50;
  color: #fff;
}

.btn.btn-outline-secondary:active {
  transform: translateY(1px);
}

.btn.btn-outline-secondary:focus {
  outline: none;
  box-shadow: none;
}
</style>