<div>
  <p>投稿詳細</p>
  <%= image_tag @post.get_image %>
  <p>お酒名：<%= @post.name %></p>
  <p>レビュー文：<%= @post.review %></p>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post.user.user_name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  
  <%= link_to "削除する", public_post_path(@post) ,method: :delete, class: "btn btn-outline-secondary", data: { confirm: "本当に削除しますか？" } %>
  <%= link_to "編集する", edit_public_post_path(@post), class: "btn btn-outline-secondary" %>
</div>

<div>
  <!--コメント件数を表示、コメントをそれぞれ持ってくる-->
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.user_name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除する", public_post_comment_path(comment.post, comment), method: :delete %>
      <%= link_to "編集する", edit_public_post_comment_path(@post, comment) %>
    <% end %>
  <% end %>
</div>
<!--コメントを投稿する-->
<div>
  <%= form_with model: [@post, @comment], url:public_post_comments_path(@post) do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>