<!-- ユーザーの詳細 -->
<div>
    <h3><%= @user.user_name %></h3>
    <%= image_tag @user.get_profile_image(100, 100) %>
    <% if @user == current_user %>
      <p><%= link_to "プロフィールを編集する",  public_users_edit_path,class:"btn btn-outline-secondary" %></p>
      <p><%= link_to "退会する",  public_users_confirm_path,class:"btn btn-outline-secondary" %></p>
    <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>
<div>
  <%= link_to public_post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>
  <p>お酒名：<%= post.name %></p>
  <p>レビュー文：<%= post.review %></p>
  <p>ユーザーネーム：<%= post.user.user_name %></p>
  <p><%= link_to "#{post.comments.count} コメント", public_post_path(post.id) %></p>
</div>
<% end %>

