<style>
.posts-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* 左寄せにする */
  margin-bottom: 20px;
  background-color: #F4EEE0;
  padding: 20px;
  border-radius: 10px;
  max-width: 1500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.post-details {
  justify-content: flex-start; /* 左寄せにする */
  margin-left: 20px;
  flex-grow: 1;
  width: 500px;
}

</style>


<!-- ユーザーの詳細 -->
<div>
    <h3><%= @user.user_name %></h3>
    <%= image_tag @user.get_profile_image(100, 100) %>
    <% if @user == current_user %>
      <p><%= link_to "プロフィールを編集する",  users_edit_path,class:"btn btn-outline-secondary" %></p>
      <p><%= link_to "退会する",  users_confirm_path,class:"btn btn-outline-secondary" %></p>
    <% end %>
</div>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(200, 200), style: "max-width: 100%;" %>
      <% end %>
      <div class="post-details">
        <p>お酒名：<%= post.name %></p>
        <p>レビュー文</p>
        <p>：<%= post.review %></p>
        <p>ユーザーネーム：<%= post.user.user_name %></p>
        <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @posts %>
