<!DOCTYPE html>
<html>
    <head>
      <title>JapaneseSakeMeguri</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      
      <script src="https://kit.fontawesome.com/5afbf8a978.js" crossorigin="anonymous"></script>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
 
  <style>
    body {
      background-color: #3A98B9;
      color: #0B2447;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding:0px;
      margin: 0;
      position: relative;
      min-height: 100vh;
    }
    main{
      text-align: center;

    }
    
    .header-content {
      color: #576CBC;
      text-align: center;
      background-color: #E8D5C4;
      width: 100%;
      max-width: 100vw;
      box-sizing: border-box;
      padding: 0px;
      height: 110px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .flex {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;
    }
    
    .flex li {
      margin: 20px;
    }
    
    .search_form {
      text-align: center;
    }
    
    .padding1{
      padding-top:140px;
    }
    .padding2{
      padding-top:20px;
    }
  .genre{
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    }

  .genre-link {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
    transition: background-color 0.3s ease;
  }

  .genre-link:hover {
    background-color: #999;
    color: #fff;
  }

    

  </style>
   
   
    </head>
    
    <body>
      <!--三項演算子を使用して条件分岐。もし管理者がログインしている場合は、文字列 "admin_header"が表示される。-->
      <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">
        <div class="header-content">
          <!--↓三項演算子を使用して条件分岐。管理者がログインしている場合、admin_top_path（管理者トップページへのパス）A(admin_signed_in?)が正しかったらB(admin_top_path)が実行され、Aが偽だったらC(root_path)が実行される-->
          <!--ログインしていない場合は、root_pathで通常のトップページへのリンクを表示する。-->
        <%= link_to  (admin_signed_in? ? admin_root_path : root_path ), class: "logo" do %>
          <%= image_tag("LOGOJapaneseSakeMeguri.png" , style: "width: 100px; height: 100px;") %>
        <% end %>
          <ul class="flex">
            <% if admin_signed_in? %>
              <h2>Admin</h2>
              <li><%= link_to 'ユーザー一覧',  admin_users_path %></li>
              <li><%= link_to 'ジャンル一覧',  admin_genres_path %></li>
              <li><%= link_to '投稿一覧',  admin_posts_path %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            <% elsif user_signed_in? %>
              <p>ようこそ、<%= current_user.user_name %>さん!</p>
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
              <li><%= link_to '投稿する', new_post_path %></li>
              <li><%= link_to '投稿一覧', posts_path %></li>
              <li><%= link_to 'ユーザー一覧', users_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
              <li><%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, method: :post %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to 'About us', about_path %></li>
            <% end %>
          </ul>
          <!--publicの検索フォーム-->
          <div class="search_form">
            <% if user_signed_in? %>
              <%= form_with url: search_path, local: true, method: :get do |f| %>
                <!--検索内容を、wordとしてアクションに送る-->
                <%= f.text_field :word %>
                <!--複数のモデルを検索できるように実装する為、UserモデルとPostモデルを選択できるようにしている-->
                <%= f.select :range, options_for_select([['ユーザー','User'], ['レビュー文','Review'], ['お酒名','Name']]) %>
                <!--検索手法を定義-->
                <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                <%= f.submit "検索", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
          <!--管理者用の検索フォーム-->
            <div class="search_form">
              <% if admin_signed_in? %>
                <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
                  <!--検索内容を、wordとしてアクションに送る-->
                  <%= f.text_field :word %>
                  <!--複数のモデルを検索できるように実装する為、UserモデルとPostモデルを選択できるようにしている-->
                  <%= f.select :range, options_for_select([['ユーザー','User'], ['レビュー文','Review'], ['お酒名','Name']]) %>
                  <!--検索手法を定義-->
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                  <%= f.submit "検索", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            </div>
        </div>
      </header>
      
       <main>
      <div class="padding1"></div>
         <!--フラッシュメッセージの表示-->
         <% flash.each do |type, message| %>
          <div class="flash <%= type %>">
            <%= message %>
          </div>
          <% end %>
         
          <!--ジャンルの表示-->
          <!--||でor または　の意味-->
          <% if user_signed_in? || admin_signed_in? %>
            <div class="genre">
              <% Genre.all.each do |genre| %>
                <%= link_to genre.name, genre_posts_path(genre), class: "genre-link" %>
              <% end %>
              <div class="padding2"></div>
            </div>
          <% end %>
           
          <%= yield %>
          
       
      </main>
      
      <footer>Copyright ©shibatan Inc. All Rights Reserved.</footer>
     </body>
</html>
